a {
    text-decoration: none;
    color: inherit;
    font-style: normal;
}

ul {
    list-style-type: none;
    margin-left: 0;
    margin-bottom: 0;
    margin-top: 0;
    padding-left: 0;
}

button {
    cursor: pointer;
    border: none;
    padding: 0;
    background-color: transparent;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    color: inherit;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0; }
    
    
    
.gallery {
}

.gallery-container {   
    display: flex;
    flex-direction: column;
    align-items: center;

}

.list-gallery {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    list-style: none;
    /*===*/
    width: 100%;
    align-items: center;
    gap: 16px;
}

.item-list-gallery {
    width: 288px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 32px;
    background-color: #ebf8ed;
    position: relative;
    overflow: hidden;
}

.title-section-gallery {

}

.title-gallery {
    margin-bottom: 16px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: 0.01em;
    text-align: center;
    color: #030a06;
    font-family: 'Comfortaa', sans-serif;
}


.subtitle-gallery {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.6;
    text-align: center;
    color: #030a06;
    margin-bottom: 32px;
}


.img-section img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* =============768================ */



@media screen and (min-width: 768px) {
    .gallery-container {
        max-width: 768px;
        padding: 0 16px;
        margin-left: auto;
        margin-right: auto;
    }

    .img-section-list {
        display: flex;
        justify-content: center;   }

    .list-gallery {
        display: grid;
        /* grid-template-columns: repeat(5, 1fr); */

        grid-template-columns: 340px 340px;

        grid-template-rows: repeat(7, 1fr);
        column-gap: 24px;
        row-gap: 24px; 
        justify-content: center;
    }

    .item-list-gallery {
        /* width: 100%; */
        height: auto;
    }

    .list-gallery li:nth-child(1) {       
        width: 338px;
        height: 338px;
        grid-row: span 2 / span 2;
        grid-column-start: 2;
        grid-row-start: 5;

    }

    .list-gallery li:nth-child(2) {
        width: 340px;
        height: 700px;
        grid-row: span 4 / span 4;
        grid-column-start: 2;
        grid-row-start: 1;

    }

    .list-gallery li:nth-child(3) {
        width: 340px;
        height: 700px;
        grid-row: span 4 / span 4;
        grid-column-start: 1;
        grid-row-start: 3;
    }

    .list-gallery li:nth-child(4) {
        width: 338px;
        height: 338px;
        grid-row: span 2 / span 2;
        grid-column-start: 1;
        grid-row-start: 1;
    }

    .img-section {
        width: 100%;
        height: 100%;
    }

    .img-section img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    } 
}


/* =============1140================ */

@media screen and (min-width: 1140px) {
    .gallery-container {
        max-width: 1140px;
        margin: 0 auto;
        /* padding: 0 15px; */
    }

    .img-section-list {
        display: flex;
        justify-content: center;
    }

    .list-gallery {
        display: grid;
        /* grid-template-columns: 421px 421px 421px; */

        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, auto);
        column-gap: 24px;
        row-gap: 24px;
        justify-content: center;
    }

    .item-list-gallery {
        width: auto;
        height: auto;
    }

    .list-gallery li:nth-child(4) {
        width: 421px;
        height: 421px;
        grid-column: 1;
        grid-row: 1;
    }

    .list-gallery li:nth-child(1) {
        width: 421px;
        height: 421px;
        grid-column: 1;
        grid-row: 2;
    }

    .list-gallery li:nth-child(2) {
        width: 421px;
        height: auto;
        grid-column: 2;
        grid-row: 1 / span 2;
    }

    .list-gallery li:nth-child(3) {
        width: 421px;
        height: auto;
        grid-column: 3;
        grid-row: 1 / span 2;
    }

    .img-section {
        width: 100%;
        height: 100%;
    }

    .img-section img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    } 
}

